body {
  background-color: #242e47;
  color: white;
}

    .nav-bar {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #242e47;
      position: fixed;
      top: 0;
      width: 100%;
    }

    ul.nav-bar li {
      float: left;
    }

    ul.nav-bar li a {
      display: block;
      color:white;
      text-align: center;
      padding: 1rem .75rem;
      text-decoration: none;
    }

    ul.nav-bar li a:hover:not(.active) {
      background-color: #111;
    }

    .active {
      background-color: #111;
    }
