body {
  background-image: url("https://media.discordapp.net/attachments/737344238823538829/738237694940938320/A1ldQBVepmL.png?width=665&height=665");
  background-repeat: repeat;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

    .nav-bar {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: rgba(2, 2, 2, 0.315);
      position: fixed;
      top: 0;
      width: 100%;
      height: 4rem
    }

    ul.nav-bar li {
      float: right;
    }
    ul.nav-bar .logo{
      float: left;
    }

    ul.nav-bar li a {
      display: block;
      color:white;
      text-align: center;
      padding: 1rem .75rem;
      text-decoration: none;
      line-height:2rem;
      padding-bottom: 2rem;

    }

    ul.nav-bar li a:hover:not(.active) {
      background-color: #111;
    }

    ul.nav-bar {
      position: fixed;
      top: 0;
      width: 100%;
    }

    .active {
      background-color: #111;
    }
    h2 {
      text-align: center;
    }
    .msn {
      text-align: center;
    }
.logo{
  font-family: 'Recursive', sans-serif;
  font-size: 2rem;
}
div.container h1, div.container h2, div.container h3, div.container h4{
  font-family: 'Heebo', sans-serif;
}
div.container a{
  font-family: 'Open Sans', sans-serif;
}

h2{
    padding-top: 5rem;
  }

  .container2{
    padding-top: 5rem;
  }

  .button{
    text-align: center;
  }

  .m-box{
    border: 5px white double;
    /*box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.281), 0 6px 20px 0 rgba(255, 255, 255, 0.19);*/
    margin: 1rem;
    height:auto;
    position: relative;

  }
div.container h2.mission-state{
font-size: 6rem;
word-wrap: break-word;
font-family: 'Barlow Condensed', sans-serif;
text-align: left;
padding-top: 3rem;
padding-left: 4rem;
padding-bottom: 3rem;
}
.mission-text{
  font-size: 1rem;
  padding: 2rem;
  word-wrap: break-word;
}

p.button a.btn{
  background-color: rgba(17, 17, 17, 0.562);
  border: transparent 3px solid;
  /* box-shadow: 1px 1px 1px 2px rgba(255, 255, 255, 0.466); */
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.281), 0 6px 20px 0 rgba(255, 255, 255, 0.541);
}

/*p.button a.btn:focus{
  background-color: rgba(17, 17, 17, 0.562);

}*/
