h1{
  text-align: center;
  }

div.container article{
  margin: 7rem 0;
}

div.container a{
 color: #00a2ca;
}
div.container a:hover{
  color: #03647c;
}

.top{
  margin: 0 5rem;
  word-break: break-word;
  text-align: center;
}
div.navigation a{
  padding: 2rem .5rem;
  position: relative;
  left: 5rem;
  top: 3rem;
  text-align: center;
}
