h1{
  text-align: center;
  padding-top: 5rem;
  }

div.container article{
  margin: 7rem 0;
}

div.container a{
 color: #00a2ca;
}
div.container a:hover{
  color: #03647c;
}

.top{
  margin: 0 5rem;
  word-break: break-word;
  text-align: center;
}
